In [1]:
import pandas as pd

In [2]:
!dir

 Datentr„ger in Laufwerk C: ist OS
 Volumeseriennummer: 4660-A944

 Verzeichnis von C:\Users\j-lan\Desktop\ironhack\week6\day1\afternoon\lab-not-hot-songs

02.05.2023  10:57    <DIR>          .
02.05.2023  10:43    <DIR>          ..
02.05.2023  10:54    <DIR>          .ipynb_checkpoints
02.05.2023  10:57            12.846 extracting_not_100_lab.ipynb
02.05.2023  10:38            24.139 final_not_100 .ipynb
02.05.2023  10:53    <DIR>          MillionSongSubset
01.05.2023  22:03     1.981.914.968 millionsongsubset.tar.gz
02.05.2023  10:57           602.710 not_hot.csv
01.05.2023  18:42             1.635 README.md
               5 Datei(en),  1.982.556.298 Bytes
               4 Verzeichnis(se), 126.770.118.656 Bytes frei

In [5]:
df1 = pd.read_csv("C:/Users/j-lan/Desktop/ironhack/week6/day1/morning/lab-web-scraping-single-page/top_100.csv")
df2 = pd.read_csv("not_hot.csv")

In [6]:
df1

    Unnamed: 0              title                                  artists
0            0          Kill Bill                                      SZA
1            1         Last Night                            Morgan Wallen
2            2            Flowers                              Miley Cyrus
3            3     Princess Diana                  Ice Spice & Nicki Minaj
4            4    Ella Baila Sola              Eslabon Armado X Peso Pluma
..         ...                ...                                      ...
95          95        Memory Lane                             Old Dominion
96          96         Love Again                            The Kid LAROI
97          97         '98 Braves                            Morgan Wallen
98          98          Di Que Si  Grupo Marca Registrada X Grupo Frontera
99          99  It Matters To Her                          Scotty McCreery

[100 rows x 3 columns]

In [7]:
df2

,Unnamed: 0,song_id,artist_name,title
0,0,SOMZWCG12A8C13C480,Casual,I Didn't Mean To
1,1,SOCIWDW12A8C13D406,The Box Tops,Soul Deep
2,2,SOXVLOJ12AB0189215,Sonora Santanera,Amor De Cabaret
3,3,SONHOTT12A8C13493C,Adam Ant,Something Girls
4,4,SOFSOCN12A8C143F5D,Gob,Face the Ashes
...,...,...,...,...
9995,9995,SOLXXPY12A67ADABA0,Moonspell,The Hanged Man
9996,9996,SOAYONI12A6D4F85C8,Danny Williams,The Wonderful World Of The Young
9997,9997,SOJZLAJ12AB017E8A2,Winston Reedy,Sentimental Man
9998,9998,SORZSCJ12A8C132446,"Myrick ""Freeze"" Guillory",Zydeco In D-Minor
9999,9999,SOFAOMI12A6D4FA2D8,Seventh Day Slumber,Shattered Life

In [8]:
df1.shape

(100, 3)

In [9]:
df2.shape

(10000, 4)

In [10]:
df1.columns

Index(['Unnamed: 0', 'title', 'artists'], dtype='object')

In [11]:
df2.columns

Index(['Unnamed: 0', 'song_id', 'artist_name', 'title'], dtype='object')

In [12]:
#df2.drop(['Unnamed: 0', 'song_id'], axis=1, inplace=True)

In [13]:
df2

,Unnamed: 0,song_id,artist_name,title
0,0,SOMZWCG12A8C13C480,Casual,I Didn't Mean To
1,1,SOCIWDW12A8C13D406,The Box Tops,Soul Deep
2,2,SOXVLOJ12AB0189215,Sonora Santanera,Amor De Cabaret
3,3,SONHOTT12A8C13493C,Adam Ant,Something Girls
4,4,SOFSOCN12A8C143F5D,Gob,Face the Ashes
...,...,...,...,...
9995,9995,SOLXXPY12A67ADABA0,Moonspell,The Hanged Man
9996,9996,SOAYONI12A6D4F85C8,Danny Williams,The Wonderful World Of The Young
9997,9997,SOJZLAJ12AB017E8A2,Winston Reedy,Sentimental Man
9998,9998,SORZSCJ12A8C132446,"Myrick ""Freeze"" Guillory",Zydeco In D-Minor
9999,9999,SOFAOMI12A6D4FA2D8,Seventh Day Slumber,Shattered Life

In [14]:
df1.drop(['Unnamed: 0'], axis=1, inplace=True)

In [15]:
df1.columns

Index(['title', 'artists'], dtype='object')

In [16]:
# Rename the 'artist' column to 'artist_name'
df1 = df1.rename(columns={'artists': 'artist_name'})

# Select the columns in the desired order
df1 = df1[['artist_name', 'title']]

In [17]:
df1

                                artist_name              title
0                                       SZA          Kill Bill
1                             Morgan Wallen         Last Night
2                               Miley Cyrus            Flowers
3                   Ice Spice & Nicki Minaj     Princess Diana
4               Eslabon Armado X Peso Pluma    Ella Baila Sola
..                                      ...                ...
95                             Old Dominion        Memory Lane
96                            The Kid LAROI         Love Again
97                            Morgan Wallen         '98 Braves
98  Grupo Marca Registrada X Grupo Frontera          Di Que Si
99                          Scotty McCreery  It Matters To Her

[100 rows x 2 columns]

In [18]:
# Merge the dataframes and indicate which rows exist only in df2
merged = pd.merge(df1, df2, on=['artist_name', 'title'], how='outer', indicator=True)

# Filter the merged dataframe to get only the rows that exist in df2
df3 = merged[merged['_merge'] == 'right_only'][['artist_name', 'title']]

In [19]:
df3.shape

(10000, 2)

In [20]:
df_new = df3.sample(n=3000, random_state=42) # n is the number of rows you want to select and random_state ensures reproducibility

In [21]:
df_new.shape

(3000, 2)

In [22]:
df_new.to_csv('final_not_hot.csv')